<div class="loader-seller">
    <img src="/img/loader.gif" alt="">
</div>
<section class="add-product-section">
    <div class="add-product">
        <p class="text" id="seller-greeting">Hello, </p>
        <a href="./addproduct" class="btn-add-product">Add product</a>
    </div>
</section>

<section class="seller-product">
    <div class="seller-product-cart-container">
        <h1 class="no-product">No products</h1>
        {{!-- <div class="seller-product-cart">
            <img class"img-product-seller" src="/img/poster-1.png" alt="">
            <p class="product-seller-name">Lights</p>
            <div class="seller-action">
                <i class="fa-solid fa-pencil btn-edit"></i>
                <i class="fa-solid fa-arrow-up-right-from-square btn-show"></i>
                <i class="fa-solid fa-trash-can btn-delete"></i>
            </div>
        </div> --}}
    </div>
</section>

<script src="/js/dashboard.js" type="text/javascript"></script>