<section class="detail-product">
        <div class="detail-product-container">
            <img src="/img/product-1.png" alt="" srcset="">
            <div class="info-product">
                <h1 class="product-name">
                    Prenium Sofa
                </h1>
                <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum corporis veritatis quae earum, consectetur voluptatibus dolores, deserunt maiores voluptate ab consequuntur quidem iusto. Distinctio, consectetur hic excepturi expedita aperiam commodi.</p>
                <div class="ratings-star">
                    <img class="star-reviews" src="/img/fill star.png" alt="" srcset="">
                    <img class="star-reviews" src="/img/fill star.png" alt="" srcset="">
                    <img class="star-reviews" src="/img/fill star.png" alt="" srcset="">
                    <img class="star-reviews" src="/img/fill star.png" alt="" srcset="">
                    <img class="star-reviews" src="/img/no fill star.png" alt="" srcset="">
                    <span class="rating-count">4,023 reviews</span>
                </div>
                <span class="price"> 49$</span>
                <div class="btn-container">
                    <button class="product-btn buy-btn">Buy now</button>
                    <button class="product-btn card-btn">Add to card</button>
                </div>
            </div>
        </div>
    </section>

    <section class="details-description">
        <h1 class="title">
            Details
        </h1>
        <p class="des">lorem ipsum dolor sit amet, consectet
            Lorem ipsum, dolor sit amet consectetur adipisicing
             elit. At nihil vitae, perspiciatis non magnam temporibus provident minus praesentium, blanditiis optio totam! Vel duci
             mus fuga modi aliquid facere corrupti voluptatum aspernatur.
             Lorem ipsum, dolor sit amet consectetur adipisicing
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium et voluptatibus debitis similique ad! Deleniti hic quidem aut aspernatur assumenda, doloremque incidunt, ab dolor reiciendis tenetur reprehenderit obcaecati modi dolorum!
        </p>
    </section>

    <section class="review-section">
        <h1 class="review-section-title">Reviews</h1>
        <div class="reviewer-container">
            {{!-- <div class="review-item">
                <div class="avatar-reviewer" data-rating="4.9">
                    <img src="/img/user 1.png" alt="" srcset="">
                </div>
                <h3 class="review-title">best quality more than my expecta</h3>
                <p class="review-content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae, illum odit? Et aperiam natus molestiae excepturi at quo facere impedit quibusdam molestias corporis iusto sed totam laborum, beatae maxime corrupti?</p>
            </div>
            --}}
        </div>
    </section>

    <!-- review Section form  -->
    <section class="add-reivew-section">
        <h1>Add A Reviews</h1>
        <input type="text" class="review-headline" placeholder="review headline" name="" id="">
        <textarea class="reivew-field" placeholder="review"></textarea>
        <h2>How muck you liked the product</h2>
        <div class="ratings-star">
            <img src="/img/no fill star.png" class="no-fill-star" alt="" srcset="">
            <img src="/img/no fill star.png" class="no-fill-star" alt="" srcset="">
            <img src="/img/no fill star.png" class="no-fill-star" alt="" srcset="">
            <img src="/img/no fill star.png" class="no-fill-star" alt="" srcset="">
            <img src="/img/no fill star.png" class="no-fill-star" alt="" srcset="">
        </div>
        <span class="erro"></span>
        <button class="add-review-btn">Add</button>
    </section>
    
    <!-- best selling Similar product -->
    <div class="best-selling-product-section">
        <h1 class="section-title">Semimar selling Products</h1>
        <div class="product-container">
            {{!-- <div class="product-card">
                <img src="/img/product-1.png" alt="Product-1" class="product-img">
                <p class="product-name">Light <span><i class="fa-solid fa-arrow-right-long"></i></span> </p>
            </div>
             --}}
        </div>
    </div>
    <script src="/js/detail-product.js">  </script>
    <script src="/js/create-nav.js">  </script>