<section class="form-section form-seller">
    <div class="loader"><img src="/img/loader.gif" alt="" srcset=""></div>
    <div class="form">
        <h1 class="title">apply for seller account</h1>
        <input type="text" class="form-input" name="business-name" placeholder="Business name" id="business-name">
        <textarea name="address" class="address" placeholder="Address"></textarea>
        <textarea name="about" class="about" placeholder="About"></textarea>
        <input type="text" class="form-input" name="number" placeholder="Contact number" id="number">
        <span class="erro"></span>

        <button class="submit apply-btn">Apply</button>
    </div>
        <img src="/img/bg-3.png" alt="" srcset="">
    </div>
</section>

<script type="text/javascript" src="/js/seller.js"></script>