<section class="form-section">
    <div class="loader"><img src="/img/loader.gif" alt="" srcset=""></div>
    <div class="form-container">
        <div action="" class="form">
        <h2>sing up here</h2>
        <input class="form-input" type="text" name="full-name" placeholder="full name">
        <input class="form-input" type="email" name="email" placeholder="email" required>
        <input class="form-input" type="password" name="password" placeholder="password">
        <input class="form-input" type="password" name="re-password" placeholder="re-password">
        <input class="form-input" type="text" name="phone" placeholder="phone">
        
        <span class="erro">
            {{!-- error message --}}
        </span>

        <div class="term-chexbox">
            <input type="checkbox" id="term">
            <label for="term">Your agree to our <a href="http">terms</a></label>
        </div>

        
        <div class="action">
            <button class="submit">Sign up</button>
            <p>Already have an account? <a href="signin" class="other-form-link">Login here</a></p>
        </div>

        </div>
        <img src="/img/bg-2.png" class="form-img" alt="" srcset="">
    </div>
</section>

<script type="text/javascript" src="/js/sign-up.js"></script>