<section class="form-section">
    <div class="loader"><img src="/img/loader.gif" alt="" srcset=""></div>
    <div class="form-container">
        <img src="/img/bg-2.png" class="form-img" alt="" srcset="">
        <div action="" class="form">
        <h2>Sign in here</h2>
        <input class="form-input" type="email" name="email" placeholder="email" required>
        <input class="form-input" type="password" name="password" placeholder="password">
        <span class="erro">
            {{!-- error message --}}
        </span> 
        
        <div class="action">
            <button class="submit">Login</button>
            <p>Dont have a account? <a href="signup" class="other-form-link">Create</a></p>
        </div>

        </div>
    </div>
</section>

<script type="text/javascript" src="/js/sign-up.js"></script>